services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: loan-platform-api
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs
      - /app/node_modules
    depends_on:
      - mongodb
      - redis
      - rabbitmq
    networks:
      - loan-platform-network
    command: npm run dev

  mongodb:
    image: mongo:7
    container_name: loan-platform-mongodb
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_DATABASE=loan-platform
    volumes:
      - mongodb_data:/data/db
    networks:
      - loan-platform-network

  redis:
    image: redis:7-alpine
    container_name: loan-platform-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - loan-platform-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: loan-platform-rabbitmq
    restart: unless-stopped
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - loan-platform-network

volumes:
  mongodb_data:
  redis_data:
  rabbitmq_data:

networks:
  loan-platform-network:
    driver: bridge
